server:
  port: 8085
spring:
  application:
    name: SpringBoot
  datasource:
    url: jdbc:postgresql://localhost:5432/spring-boot-db-test
    username: postgres
    password: password
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8082/realms/my-realm
